<div id="header">
  <ul id="headerUl">
    <li id="headerLi">@Html.ActionLink("Clients", "Index", "Clients")</li>
    <li id="headerLi">@Html.ActionLink("Stylists", "Index", "Stylists")</li>
    <li id="headerLiLeft">@Html.ActionLink("Eau Claire's", "Index", "Home")</li>
  </ul>
</div>