@{
  Layout = "_Layout";
}
<div class="spacer"></div>
<br>
<div class="hero-image">
<div class="jumbotron">
  <h2>Welcome To Eau Claire's Salon Database</h2>
  
  <img class="hero" src='~/img/salon-interior.jpg'/>
</div>
</div>

@* <h5>@Html.ActionLink("See All Stylists", "Index", "Stylists")</h5>
<h5>@Html.ActionLink("See All Clients", "Index", "Clients")</h5> *@