@{
  Layout = "_Layout";
}
<br>
<div class="jumbotron">
  <h1>Welcome to Eau Claire's Salon database</h1>
</div>
<h5>@Html.ActionLink("See all stylists", "Index", "Stylists")</h5>
<h5>@Html.ActionLink("See all clients", "Index", "Clients")</h5>